#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-color: #FFFAF1;
}

/* In your App.css or Tailwind configuration */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-gray-800 {
  background-color: #dbdbdb7a; /* Tailwind's gray-800 color */
}

.bg-gray-400 {
  background-color: #8181817a; /* Tailwind's gray-800 color */
}

.text-white {
  color: #ffffff;
}

.rounded-full {
  border-radius: 9999px;
}

